.question-numbers-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.question-number-box {
  background: chocolate;
  width: 20px;
  font-size: 12px;
}
.question-number-box:hover {
  background: rgb(97, 46, 10);
  color: #fff;
}
